
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home page styles */
.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 4%;
  background-color: #211f2c;
  background-image: url('./images/dreamer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.buttonsDiv {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: orangered;
  margin-left: 6%;
}

.aboutDiv {
  width: 50%;
  margin: 5% 46% 0 10%;
  color: white;
  text-align: left;
  line-height: 1.5;
}

.dream {
  font: bold;
  font-size: 4rem;
  color: orangered;
}

.dreamDesc {
  font: bold;
  font-size: 2.2rem;
}

.noun {
  font-size: 2.2rem;
  font-style: italic;
}

.about {
  margin-top: 2%;
}

.aboutDreams {
  margin-top: 8%;
}

.dreamMeaning, .write {
  font-size: 2rem;
  color: orangered;
}

.aboutApp {
  margin-top: 8%;
}

.aboutAppP3 {
  margin-top: 3%;
}

.ui.button {
  margin: 0 2rem;
}

.btnText {
  color: black;
  width: 65px;
}

button.ui.big.animated.button:hover {
  background-color: mediumslateblue;
}

/* Menu styles */
div.ui.item.simple.dropdown {
  background-color: #e0e1e2;
  width: 50px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i.bars.icon {
  margin-right: 0;
}

.ui.dropdown .menu>.item {
  width: 120px;
  font-size: 1.4rem;
}

div.item {
  font-size: 1.2rem;
}

div.item:hover {
  background-color: orangered;
}

/* register form styles */
.registerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 3%;
  color: white;
  background-color: #211f2c;
  background-image: url('./images/laptop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.regMenu {
  justify-content: space-evenly;
  margin-right: 31%;
}

.regMenu .menuBar {
  color: black;
}

.regMenu h3 {
  font-size: 3.6rem;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 4%;
}

#username, #password {
  height: 40px;
  margin: 2% 0;
  border: 1px solid black;
  border-radius: 2.8px;
}

#password {
  margin-bottom: 5%;
}

.registerForm label {
  color: white;
  font-size: 1.8rem;
  margin-top: 2%;
}

.errors {
  color: orangered;
  font-size: 1.4rem;
  margin-bottom: 5%;
}

.usernameError {
  margin-top: 2%;
}

input {
  font-size: 1.6rem;
}

.submitBtn {
  width: 100px;
}

button.ui.animated.left.floated.button.submitBtn:hover {
  background-color: #211f2c;
  color: white;
}

.redirect {
  font-size: 1.6rem;
  margin-top: 10%;
  color: white;
}

.redirect:hover {
  color: orangered;
}

/* sign in styles */
.signinDiv {
  background-color: #211f2c;
  background-image: url('./images/counting_stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.signInHeader {
  margin-right: 1%;
}

/* dashboard styles */
.dashContainer {
  width: 100%;
  height: 100%;
  background-color: #211f2c;
  background-image: url('./images/moonlight.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 4%;
}

button.ui.big.button.signoutBtn:hover {
  background: mediumslateblue;
}

.dashboard {
  width: 100%;
  display: flex;
  margin: 2% 2% 0;
}

/* new dream form styles */
.newDreamDiv {
  width: 50%;
  border-radius: 3px;
  margin-top: 3%;
}

.newDreamForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.ui.form .field>label {
  color: white;
  font-size: 1.6rem;
}

#date {
  width: 300px;
  margin: 2% 0 4%;
  font-size: 1.4rem;
}

#description {
  font-size: 1.6rem;
  width: 500px;
  height: 300px;
  margin: 2% 0 4%;
}

/* Dreams List styles */
.dreamsList {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
}

.dreamsList h2 {
  color: orangered;
}

.ui.selection.dropdown {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 3% 0 2%;
}

.pagination {
  display: flex;
}

/* Dream Card styles */
.dreamCard {
  width: 600px;
  margin: 2%;
  font-size: 1.6rem;
}

.dreamCard .card {
  width: 100%;
}

.dreamCard .description {
  line-height: normal;
  font-size: 1.6rem;
}

/* edit modal styles */
.ui.modal>.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #211f2c; */
}

.editForm.ui.form .field>label {
  color: black;
}

button.ui.icon.right.floated.button.editBtn {
  margin-top: 5%;
}

button.ui.icon.right.floated.button.editBtn:hover {
  background-color: orangered;
  color: white;
}

/* resources styles */
.resourcesDiv {
  background-color: #211f2c;
  background-image: url('./images/under_construction.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resourceHeader {
  margin-left: 10%;
  margin-top: 4%;
}

.resourcesDiv h1 {
  color: orangered;
  margin-top: 15%;
}

/* Media Queries */
@media (max-width: 1200px) {
  .dreamCard {
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .homePage {
    height: 100%;
  }

  .dashboard {
    flex-direction: column;
    align-items: center;
  }

  .ui.card > .content > .header:not(.ui) {
    font-size: 1.8rem;
  }

  .dreamDesc {
    font-size: 1.6rem;
  }

  .pagination {
    margin-top: 3%;
  }

  .resourcesDiv h1 {
    margin-top: 20%;
  }
}

@media (max-width: 900px) {
  .resourcesDiv {
    background-position: center;
  }

  header h1 {
    margin-left: 8%;
  }

  .ui.button {
    margin: 0 .75rem;
  }

  .btnText {
    width: 45px;
  }

  .resourcesDiv h1 {
    margin-top: 25%;
  }
}

@media (max-width: 768px) {
  .homePage {
    height: 100vh;
  }

  .resourcesDiv {
    background-position-x: 30%;
  }

  .aboutDiv {
    width: 80%;
    margin-right: 10%;
  }
}

@media (max-width: 600px) {
  .homePage {
    background-position: center;
    height: 100%;
  }

  header {
    margin-top: 3%;
  }

  header h1 {
    margin-left: 0;
    margin-right: 18%;
  }

  .buttonsDiv {
    display: none;
  }

  .registerDiv {
    background-position: center;
  }

  .registerForm {
    margin-top: 3%;
  }

  .signinDiv {
    background-position: left;
  }

  .dashContainer {
    background-position: right;
    padding: 3% 0;
  }

  header.dashHeader {
    width: 90%;
    justify-content: space-evenly;
  }

  .myDashboard {
    margin-left: 10%;
    margin-right: 21%;
    
  }

  .dashboard {
    margin: 2% 0 0;
  }

  .newDreamDiv {
    width: 100%;
  }

  .ui.button.signoutBtn {
    display: none;
  }

  .dreamsList {
    width: 90%;
  }

  #date {
    width: 275px;
  }

  #description {
    width: 475px;
  }

  .dreamCard {
    width: 475px;
  }

  .resourcesDiv h1 {
    margin-top: 30%;
  }
}

@media (max-width: 480px) {
  .homePage {
    background-position-x: 55%;
    height: 100vh;
  }

  header {
    margin-top: 6%;
  }

  header h1 {
    font-size: 5rem;
    margin-right: 13%;
  }

  .buttonsDiv {
    margin-top: 5%;
  }

  .dream {
    font-size: 3.2rem;
  }

  .dreamDesc, .noun {
    font-size: 1.8rem;
  }

  .about {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.4rem;
  }

  div.ui.item.simple.dropdown {
    width: 40px;
  }

  .registerForm {
    width: 275px;
    margin-top: 2%;
  }

  .registerForm label {
    font-size: 1.6rem;
  }

  input, .redirect {
    font-size: 1.4rem;
  }

  .submitBtn {
    width: 70px;
  }

  .registerForm h3 {
    margin-bottom: 5%;
  }

  .signinDiv {
    background-position-x: 15%;
  }

  #date {
    width: 225px;
  }

  #description {
    width: 375px;
  }

  .dreamCard {
    width: 375px;
  }

  .ui.card > .content > .header:not(.ui) {
    font-size: 1.6rem;
  }

  .dreamDesc {
    font-size: 1.4rem;
  }

  .resourcesDiv h1 {
    margin-top: 40%;
  }

}

@media (max-width: 420px) {
  header h1 {
    font-size: 4.4rem;
  }

  div.ui.item.simple.dropdown {
    width: 35px;
    height: 25px;
  }

  #date {
    width: 185px;
  }

  #description {
    width: 325px;
  }

  .dreamCard {
    width: 325px;
    padding-right: 3%;
  }

  .resourcesDiv h1 {
    margin-top: 45%;
  }
}

@media (max-width: 360px) {
  .homePage {
    background-position-x: 65%;
    height: 100vh;
  }

  header {
    margin-top: 10%;
  }

  header h1 {
    font-size: 4rem;
    /* margin-left: 7%; */
    margin-right: 10%;
  }

  button.ui.big.animated.button {
    width: 60px;
    height: 25px;
    font-size: 1rem;
    text-align: center;
    padding-left: 5%;
  }

  .dream {
    font-size: 2.8rem;
  }

  .dreamDesc, .noun {
    font-size: 1.6rem;
  }

  .about, p {
    font-size: 1.2rem;
  }

  .write {
    font-size: 1.8rem;
  }

  .registerDiv h3 {
    font-size: 2.8rem;
    margin-left: 2%;
  }

  .registerForm {
    width: 225px;
  }

  .registerForm label {
    font-size: 1.4rem;
  }

  input {
    font-size: 1.2rem;
  }

  #username, #password {
    height: 30px;
  }

  #date {
    width: 150px;
    height: 30px;
  }

  #description {
    width: 275px;
    font-size: 1.2rem;
  }

  .dreamsList h2 {
    font-size: 3.6rem;
  }

  .dreamCard {
    width: 275px;
    padding-right: 0;
  }

  button.ui.big.animated.button.submitNew {
    display: flex;
    justify-content: center;
  }

  .ui.card > .content > .header:not(.ui) {
    font-size: 1.4rem;
  }

  .dreamDesc {
    font-size: 1.2rem;
  }

  .resourcesDiv h1 {
    margin-top: 50%;
  }

}