
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home page styles */
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 10%;
  background-image: url('./images/dreamer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.homePage h1 {
  color: orangered;
  margin-top: 2%;
}

.aboutDiv {
  margin-top: 5%;
  margin-left: 3%;
}

.about {
  margin-top: 4%;
  margin-right: 46%;
  text-align: left;
  width: 50%;
  color: white;
}

.buttonsDiv {
  margin-top: 4%;
}

.ui.button {
  margin: 0 2rem;
}

.btnText {
  color: black;
}


/* register form styles */
.registerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 3%;
  color: black;
  background-image: url('./images/laptop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.registerDiv h3 {
  margin-top: 2%;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 1%;
}

#username, #password {
  height: 30px;
  margin: 2% 0;
  border: 1px solid black;
  border-radius: 2.8px;
}

#password {
  margin-bottom: 5%;
}

.registerForm label {
  color: white;
  font-size: 1.6rem;
  margin-top: 2%;
}

.registerForm p {
  color: blueviolet;
  font-size: 1.2rem;
}

.submitBtn {
  width: 100px;
}

/* dashboard styles */
.dashContainer {
  width: 100%;
  background-color: black;
  background-image: url('./images/moonlight.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.signoutBtn {
  position: absolute;
  top: 8%;
  right: 8%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.dashboard h1 {
  color: indianred;
}

/* new dream form styles */
.newDreamForm {
  background-color: slategray;
  width: 550px;
  border-radius: 3px;
  margin-top: 3%;
}

.newDreamForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.ui.form .field>label {
  /* color: white; */
  font-size: 1.6rem;
}

#date {
  width: 300px;
  margin: 2% 0 4%;
  font-size: 1.4rem;
}

#description {
  font-size: 1.6rem;
  width: 470px;
  height: 200px;
  margin: 2% 0 4%;
}

/* Dreams List styles */
.dreamsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
}

.dreamsList h2 {
  color: indianred;
}

.dreams {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Dream Card styles */
.dreamCard {
  margin: 2%;
  font-size: 1.6rem;
}

.dreamCard .card {
  width: 350px;
}

.dreamCard .description {
  line-height: normal;
}

.editBtn {
  width: 150px;
}

