
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  /* color: white; */
}

/* home page styles */
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 10%;
}

.homePage h1 {
  color: orangered;
}

.homePage p {
  margin-top: 3%;
}

.buttonsDiv {
  margin-top: 4%;
}

.ui.button {
  margin: 0 2rem;
}


/* register form styles */
.registerForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  padding: 2% 3%;
  border-radius: 5px;
  color: black;
}

.registerForm p {
  color: blueviolet;
  font-size: 1.2rem;
}

/* dashboard styles */
.dashContainer {
  width: 100%;
}

.signoutBtn {
  position: absolute;
  top: 8%;
  right: 8%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* new dream form styles */
.newDreamForm {
  background-color: slategray;
  width: 550px;
  border-radius: 3px;
  margin-top: 3%;
}

.newDreamForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

.ui.form .field>label {
  /* color: white; */
  font-size: 1.6rem;
}

#date {
  width: 300px;
  margin: 2% 0 4%;
  font-size: 1.4rem;
}

#description {
  font-size: 1.6rem;
  width: 470px;
  height: 200px;
  margin: 2% 0 4%;
}

/* Dreams List styles */
.dreamsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
}

.dreams {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Dream Card styles */
.dreamCard {
  margin: 2%;
  font-size: 1.6rem;
}

.dreamCard .card {
  width: 350px;
}

.dreamCard .description {
  line-height: normal;
}

.editBtn {
  width: 150px;
}

